<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Support/IdeaProjects/SeleniumDay2">
        <classes>
            <class name="wematests.wemaTestPage">
                <methods>
                    <include name="loginStandard"/>
                    <include name="loginError"/>
                    <include name="loginProblem"/>
                    <include name="loginPerformance"/>
                    <include name="loginVisual"/>
                    <include name="loginLocked"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>